.footer {
	align-items: center;
	background-color: var(--background-footer);
	
	display: flex;
	flex-direction: column;

	padding-top: 2.5rem;
	padding-bottom: 2rem;
}

.footer__social {
	display: flex;
}

.footer__midia {
	display: block;
	height: 42px;

	margin: 2rem 1rem;
	width: 42px;
}

.footer__navegacion {
	color: var(--background-blanco);
	font: var(--open-sans);
	line-height: 3;
	text-align: center;
}

.footer__enlace {
	display: inline-block;

	margin: 0 0.5rem 0.7rem;
}

@media screen and (min-width: 1024px) {
	.footer {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.footer__navegacion {
		min-width: 600px;
		text-align: left;
	}
}
