.head {
	align-items: center;
	border-bottom: 1px solid var(--border-cabecera-mobile);
	box-sizing: border-box;
	color: var(--background-blanco);
	display: flex;
	flex-direction: column;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	position: absolute;
	width: 100%;
}

.head__logo {
	margin-bottom: 1rem;
}

.head__navegacion {
	text-align: center;
}

.head__enlace {
	display: inline-block;
	font-size: 1.1rem;
	margin-bottom: 0.7rem;
	margin-left: 0.7rem;
	margin-right: 0.7rem;
}

@media screen and (min-width: 1024px) {
	.head {
		border: none;
		flex-direction: row;
		justify-content: space-between;
	}
}
